name: Build Rami APK
on:
  repository_dispatch:
    types: [build_apk]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Install Cordova
        run: npm install -g cordova
      - name: Build Process
        run: |
          cordova create myApp com.rami.app "RamiApp"
          cd myApp
          cordova platform add android
          cordova build android --release
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Rami-App-Final
          path: myApp/platforms/android/app/build/outputs/apk/release/*.apk
